/* Remove this block after finishing layout */
/* .col-md-4, .col-md-8 {
  outline: 1px solid steelblue;
  min-height: 600px;
} */

/* body */
/* Remember changing background-img url to correct path */
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('bar-g16001c5e7_1280.jpg') no-repeat center center;
  background-size: cover;
}

.container {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
}

.row {
  max-height: 600px;
}

.col-md-4 {
  overflow-y: auto;
  max-height: 580px;
}

/* 左側 */
[data-alpha-pos="delete-drink"] {
  display: inline-block;
  text-align: center;
  color: #999;
  cursor: pointer;
  width: 20px;
  height: 20px;
  font-size: 20px;
  line-height: 1;
}

[data-alpha-pos="delete-drink"]:hover {
  color: #333;
}

/* 右側 */
.menu .card-body {
  cursor: pointer;
}

.menu .card:hover {
  box-shadow: 0px 0px 10px 1px rgba(255,255,255,0.8);
}




/* me added start */
.container > h6 {
  color:rgb(227, 232, 236);
  padding: 4px 15px 4px 0px;
  text-align: end;
}

.menu {
  display: flex;
  flex-flow: column nowrap;
}

.menu .card-deck {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

.menu .card-deck .card {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  margin: 0px 5px;
}
/* me added end */